.button {
  cursor: pointer;
  margin-top: 2%;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 15px;
  transition: 0.8s;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.8s;
}

.filled {
  background: black;
  color: white;
}

.outlined {
  background: none;
  color: black;
  border: 2px solid black;
}
