.rooms_main {
  /* height: 400px; */
  width: 100%;
}

.rooms_item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.rooms_header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-size: 30px;
  font-weight: 700;
}

.room_content {
  display: flex;
  justify-content: space-around;
}

.one_room {
  border: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.room_hour_red {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  height: 100px;
  background: rgb(108, 188, 245);
}

.room_hour_blue {
  background: blue;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  height: 100px;
}

.room_names {
  display: flex;
  justify-content: space-around;
}

.room_name {
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.cycle_work {
  width: 100%;
}

.room_cells {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meeting_card {
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin: 5%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 3%;
  /* transform: rotateY(30deg); */
}

.studio_card {
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin: 5%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 3%;
  /* transform: rotateY(30deg); */
}

.production_card {
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin: 5%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 3%;
  /* transform: rotateY(30deg); */
}

.meeting_reverse {
  cursor: pointer;
  height: 300px;
  width: 220px;
  border: 2px solid black;
  margin: 5%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: -1%;
  background-color: aliceblue;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: meeting forwards 1s;
}

/* @keyframes meeting {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-200px);
    width: 500px;
    height: 300px;
  }
  100% {
    transform: translateX(-520px);
    width: 1260px;
    height: 320px;
  }
} */

.production_reverse {
  cursor: pointer;
  height: 300px;
  width: 220px;
  border: 2px solid black;
  margin: 5%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: -1%;
  background-color: aliceblue;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: production forwards 1s;
}

/* @keyframes production {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-200px);
    width: 500px;
    height: 300px;
  }
  100% {
    transform: translateX(-970px);
    width: 1200px;
    height: 320px;
  }
} */

.studio_reverse {
  cursor: pointer;
  height: 300px;
  width: 220px;
  border: 2px solid black;
  margin: 5%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: -1%;
  background-color: aliceblue;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: studio forwards 1s;
}

/* @keyframes studio {
  0% {
    transform: translateX(0px);
  }
  50% {
    /* transform: translateX(100px); */
/* width: 400px;
    height: 300px; */
/* }
  100% {
    /* transform: translateX(200px); */
/* width: 1150px;
    height: 320px; */
/* } */
/* }  */

.relative {
  /* position: relative; */
  /* border: 2px solid;
    background: #000; */
  /* min-width: 220px; */
}

.month_div {
  width: 600px;
  white-space: nowrap;
  overflow-y: hidden;
  padding-top: 20px;
  margin-bottom: -20px;
  margin: 0 auto;
  animation: disp 1s forwards;
  z-index: 4;
}

@keyframes disp {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.month_ul {
  border-radius: 10px;
  margin-bottom: -20px;
  /* display: block; */
  overflow: auto;
  background-color: #545454;
  display: flex;
}
.month_li {
  display: flex;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  /* display: inline-block; */
  position: relative;
  background-color: #eaeaea;
  margin: 10px 25px;
  padding: 0 2%;
  border-radius: 20px;
  transition: 0.8s;
}

.month_li:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

.studio_cell {
  border: 2px solid black;
  background-color: aqua;
}

.studio_busy {
  border: 2px solid black;
  background-color: red;
}

.studio_item {
  border: 2px solid gray;
  text-align: center;
  margin: 1% 0;
  height: 50px;
  width: 80%;
  animation: none 2s stud;
  transition: 2s;
  /* animation: none; */
}

@keyframes stud {
  0% {
    height: 600px;
  }
  /* 50% {
    height: 300px; */
  /* } */
  100% {
    height: 50px;
  }
}

.meeting_item {
  border: 2px solid gray;
  text-align: center;
  margin: 1% 0;
  height: 50px;
  width: 80%;
}

.production_item {
  border: 2px solid gray;
  text-align: center;
  margin: 1% 0;
  height: 50px;
  width: 80%;
}

.studio_clicked {
  border: 2px solid gray;
  text-align: center;
  margin: 1% 0;
  height: 50px;
  width: 80%;
  animation: forwards studio 2s;
}

@keyframes studio {
  0% {
    height: 50px;
  }
  /* 50% {
    height: 500px;
  } */
  100% {
    height: 600px;
  }
}

.meeting_clicked {
  border: 2px solid gray;
  text-align: center;
  margin: 1% 0;
  height: 50px;
  width: 80%;
}

.production_clicked {
  border: 2px solid gray;
  text-align: center;
  margin: 1% 0;
  height: 50px;
  width: 80%;
}
