.tasks_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-header{
    width: 90%;
    border: 2px solid black;
    margin-top: 4%;
}

.header_tasks_list{
    display: flex;
    justify-content: space-around;
}

.header_tasks_list li{
    list-style-type: none;
    cursor: pointer;
}

.header_tasks_list li:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.task_content{
    /* background-color: #dddddd; */
    border: 2px solid black;
    width: 90%;
    display: flex;
    justify-content: center;
    border-top: 0px;
    margin-bottom: 1%;
}

.task_content img{
    margin: 4% 0;
}

.add_form{
    border: 2px solid black;
    background: white;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 25%;
}

.add_form input[type*="date"]{
    background-color: black;
    color: white;
}

.add_form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


/* input[type="date"]::-webkit-calendar-picker-indicator { */
    /* color: red; */
    /* background: white; */
    /* fill: black; */
    /* z-index: 1; */
/* } */

/* input[type="date"]::-webkit-inner-spin-button{
    color: white;
    fill: white;
} */

.add_inp{
    border: 0;
    color-scheme: red;
    width: 70%;
    resize: none;
    font-weight: 700;
    font-size: 15px;
}

.extra_add{
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
}



.deadline_btn{
    border-radius: 20px;
    padding: 5px;
    background-color: black;
    color: white;
    transition: 0.8s;
}

.deadline_btn:hover{
    transform: scale(1.2);
    transition: 0.8s;
}

#tasks_priority{
    border-radius: 20px;
    position: relative;
    color: white;
    background-color: black;
    width: 50%;
}

.addTask_btn{
    border-radius: 20px;
    padding: 5px;
    background-color: black;
    color: white;
    transition: 0.8s;
    margin: 5%;
}

.addTask_btn:hover{
    transform: scale(1.2);
    transition: 0.8s;
}
/* #tasks_priority option{ */
    /* position: absolute;
    z-index: -1;
    top: -10px;
} */

/* 
.add_inp:-moz-placeholder {
    text-align: center;
}

.add_inp::-webkit-input-placeholder {
    text-align: center;
} */
  

.add_inp:focus{
    outline: none;
}

/* tasks_table  */

.rows{
    line-height: 35px;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.rows:nth-child(even) {
    background-color: #dddddd;
}

.table{
    font-size: 20px;
    position: relative;
}

.table_title{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
}

.alt_table{
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.checked_items{
    text-decoration: line-through;
}

.table_checkboxes input:checked{
    accent-color: green;
}

.table_checkboxes input{
    width: 20px;
    height: 20px;
}

.table_checkboxes span{
    margin-right: 10px;
}

.modal_details{
    width: 280px;
    position: fixed;
    height: 240px;
    top: 40%;
    left: 38%;
    border-radius: 30px;
    background: white;
    z-index: 3;
    padding: 3%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal_details h3{
    display: flex;
    justify-content: center;
    margin: 0;
}

.modal_bg_tasks{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.326);
    z-index: 2;
    top: 0;
}

.table_items{
    width: 17%;
}

.table_btns{
    width: 20%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}

.table_btns_backlog{
    padding: 0%;
    display: flex;
    justify-content: space-between;
}

.table_btns_backlog button{
    padding: 1% 6%;
    color: white;
    background: black;
    border-radius: 9px;
}

.table_btns button{
    padding: 1% 6%;
    color: white;
    background: black;
    border-radius: 9px;
}

.input_desc{
    font-size: 16px;
    font-weight: 700;
}

.details_inp input, select{
    width: 100%;
    height: 25px;
}

.modal_details button{
    margin: 2% auto;
}