@media all and (max-width: 500px) {
  .container {
    margin-top: 10% !important;
  }

  .rooms_main {
    justify-content: center;
    gap: 0;
  }

  .rooms_block {
    width: 80%;
    margin-top: 10%;
  }
}
